ul.products{
    @apply grid  grid-cols-2 col-gap-3 row-gap-8 ;
    @screen sm{
        @apply  grid-cols-3 col-gap-6 row-gap-10  ; 
    }
    @screen md{
        @apply  grid-cols-4   ; 
    }
    @screen lg{
        @apply  grid-cols-4  ; 
    }
    @screen xl{
        @apply  grid-cols-4   ; 
    } 
    .product{  
        flex-flow: column nowrap; 
        @apply  cursor-pointer flex w-full relative ;
        .woocommerce-LoopProduct-link {
            @apply  h-full ;  
        }
        .onsale{
            @apply absolute bg-primary-500 text-white py-1 px-2 text-xs ;  
            top: 14px;
            left: 0;
            display: none;
                        
        }
        img{
            @apply  m-auto  w-full ;    
        }

         
        .dcms-item-description{
            @apply text-title px-2-1 pt-5;
        & h4{
                @apply  font-normal tracking-normal ;
                @screen lg{
                    @apply  text-dct;
                }
                
            }
        }  

        
        h2{ 
            @apply  pt-4 px-2-1 m-0 text-xs font-normal  text-title leading-5  uppercase ;  
            @screen maxsm{
                @apply  px-2 ;   
             }
        }
        .star-rating{
            @apply  hidden;   
            
        }
        .price{ 
            @apply my-0  px-2-1 block   text-title pt-2  ; 
            @screen maxsm{
                @apply  px-2 ;   
             }
            ins, del{
                @apply  block  text-title  font-normal ;   
                span{
                    @apply font-normal ;   
                } 
            }
            
            del{
                @apply  mt-1  ; 
                @screen lg{
                    @apply  mt-1  text-dct ; 

                }
               span{
                @apply text-title ; 
                @screen lg{
                    @apply   text-dct ;  
                }
               }
            }
            ins{
               @apply mb-1 mt-2 leading-4 no-underline;  
               @screen lg{
                    @apply   text-cyber ;  
                }
               span{
                 @apply text-title  ; 
                 @screen lg{
                    @apply   text-cyber ;  
                }
               }
            }
            h3{
                span{
                    @screen lg{
                        @apply   text-cyber tracking-wide ;  
                    }
                }
            }
            & > .woocommerce-Price-amount{ 
                @apply mb-4 mt-4 block leading-4; 
            }
            
        }
        .add_to_cart_button,.button.product_type_simple{ 
            @apply text-center   mx-2-1 leading-6 py-2 px-6  tracking-wide font-bold text-black uppercase border-2 border-black inline-block mt-3;  
            width: max-content; 
            max-width: 112px;
            max-width: max-content;
            @screen maxsm{
                @apply  mx-2; 
             }
             @screen lg{
                @apply   text-cyber ;  
            }
        } 
        &.outofstock{
            .add_to_cart_button,.button.product_type_simple{    
                 font-size: 0;
                 display: inherit;
                 @apply text-center    text-red-700  border-2 border-red-700 ;  

                &::before{
                    content:'Agotado'; 
                    @apply text-center leading-6  text-sm tracking-wide  inline-block;  
                    @screen lg{
                        @apply   text-cyber ;  
                    }
                } 
            }
        }
        a.added_to_cart.wc-forward{
            @apply absolute right-0  bg-primary-500 text-white py-1 px-2;    
            top: 20px;    
        }
    
    }
    
}

