#order_review{
    .shop_table{
        @apply w-full ;  
        .product-name{
            @apply text-left pl-4 ;
        }
        .product-total,.product-subtotal{
            @apply pr-4 text-right ; 
        }
        thead{ 
             
            tr{ 
                th{
                    @apply  py-4 text-left   ;

                } 
                .product-total{
                    @apply  text-right ;

                }
            }
        }
        tbody{
            @apply  pt-6 ; 
                tr{
                @apply  border-t border-gray-400 ;   
                } 
                td{
                    @apply py-4 text-right ;  
                }
            }

        }
        tfoot{  
            tr{
                th{
                    @apply  py-4 text-left px-4  ;

                }
                td{
                    @apply  py-4 text-right    ;

                }
            }
        }
        
     /*    & tr td[data-title]::before{
            @screen maxsm {
                content: attr(data-title) ": ";
                font-weight: 600;
                float: left;  
            }
        } */ 
}
