// Como participar
 body{
    @apply bg-white;

 }
.post-type-archive-product{
    .site-main{
        // @apply max-w-container m-auto;
        // padding: 0 1.2rem;
        .woocommerce-products-header__title{
            @apply mt-3;
        }

    }
}
/* purgecss start ignore */
input[type="checkbox"]{
    appearance: auto !important ;
}
 
.woocommerce-privacy-policy-link,.woocommerce-terms-and-conditions-link{
    @apply text-secondary-500;
    &:hover{
     @apply underline ;

    }
}

/* .page{   
    .alignfull {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
    }
    
    .alignwide {
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;   
        @screen xl{ 
            max-width: 1366px;
            margin: 0 -107px;
        }

    }
 }  */
/* purgecss end ignore */
